# Dépendances
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build
dist/
*.tsbuildinfo

# Environnement
.env
.env.local
.env.*.local

# Base de données locale
*.db
lounaflow.db

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Git
.git/
.gitignore

# Tests
coverage/

# Logs
logs/
*.log

# Temp
tmp/
temp/
